#home-page {
    border-top: solid 1px;
    border-bottom: solid 1px;
    /*text-align: center;*/
    width: 100%;
    height: 36em;
    overflow: scroll;
    position: relative;
}

#home-page::-webkit-scrollbar {
  display: none;
}

#home-page h1 {
    font-size: 44px;
    font-family: 'EBGaramondBold', Helvetica, Arial, sans-serif;
    text-align: center;
}

#home-page h2 {
    margin-top: -20px;
    font-size: 36px;
    font-family: 'EBGaramondBold', Helvetica, Arial, sans-serif;
    text-align: center;
}

#home-page p {
    font-family: 'EBGaramond', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#home-page #intro, #home-site-description {
    margin-top: -10px;
    text-align: center;
}

#home-about {
    margin-top: 5px;
}

#home-about h3 {
    text-align: center;
    font-family: 'EBGaramond', Helvetica, Arial, sans-serif;
    font-size: 30px;
}

#home-page .home-site-icon {
    width: 70px;
    height: 70px;
}

#profile {
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
