html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

/* menu */
#header {
	background-color: #fff;
	color: #000
	width: 100%;
	margin-top: 0px;
}

#menu {
	text-align: center;
	font-size: 1.2em;
}

#menu li {
	display: inline;
	white-space: nowrap;
	margin-left: 3em;

}

#menu li:after {
	content: none;
}

#menu li #selected {
	font-size:1.4em;
}

/* common to pages */
.content {
    overflow: hidden;
    margin-left: 10%;
    max-width: 80%;
    position: relative;
}

/* about page */
#opening {
    position: relative;
    width: 100%;
    margin-top: 40px;
    margin-left: 80px;
}

#profile {

}

#profile img {
    max-width: 210px;
    max-height: 280px;
    float: left;
}

#profileIntro {
    display: inline-block;
    margin-left: 10px;
}

#profileIntro h1 {
    font-size: 1.6em;
}
