html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    height: 100%;
}

body {
	min-height: 100%;
    min-width: 100%;
    font-family: sans-serif;
}

@font-face {
    font-family: UbuntuM;
    src: url(fonts/Ubuntu-M.ttf);
    font-weight:400;
}

@font-face {
    font-family: HitTheRoad;
    src: url(fonts/hitroad.ttf);
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'HitTheRoad', Helvetica, Arial, sans-serif;
}

/* menu */
#header {
    background-color: #fff;
  	color: #000;
  	margin-top: 0px;
}

#menu {
    width: 400px;
    margin: 0 auto;
    font-size: 1.2em;
}

#menu li {
    font-family: 'HitTheRoad', Helvetica, Arial, sans-serif;
  	display: inline;
  	white-space: nowrap;
  	margin-left: 3em;
}

#menu li:after {
    content: none;
}

#menu li #selected {
    font-size:1.4em;
}

/* common to pages */
.content {
    overflow: hidden;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

.bold {
    font-family: HitTheRoad;
}

/* about page */
#opening {
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
}

#profile {
}

#profileIntro {
    display: block;
}

#profileIntro h1, h2 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#profileIntro h1 {
    font-size: 2.5em;
}

#profileIntro h2 {
    font-size: 1.5em;
}

#profileIntro p {
    font-size: 1.1em;
}

#profileIntro .bold {
    font-weight: bold;
    font-size: 120%;
}

#profilePic {
    margin: 0 auto;
    margin-top: 40px;
    width: 200px;
	height: 200px;
  	border-radius: 100px;
  	-webkit-border-radius: 100px;
  	-moz-border-radius: 100px;
  	background: url(../img/silhouette.jpg) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#majorSkills {
    margin-left: 5%;
    margin-top: 10px;
}

#majorSkills li {
    margin-top: 10px;
}
