html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

#wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

#content {
    display: table-cell;
    vertical-align: middle;
}

#home-page {
    border-top: solid 1px;
    border-bottom: solid 1px;
    text-align: center;
    width: 80%;
    height: 40em;
    margin-left: 10%;
    position: relative;
}

/*no longer needed*/
#header {
	background-color: #C0C0C0;
	color: #fff;
	width: 100%;
	margin-top: 0px;
}
/*no longer needed*/
#menu {
	text-align: center;
	font-size: 1.2em;
}
/*no longer needed*/
#menu li {
	display: inline;
	white-space: nowrap;
	margin-left: 3em;

}
/*no longer needed*/
#menu li:after {
	content: none;
}
/*no longer needed*/
#menu li #selected {
	font-size:1.4em;
}
