<div class="content">
    <div id="opening">
        <div id="profile">
            <!-- <img src="/img/profile.jpg" alt="Profile Picture" /> -->
            <div id="profileIntro">
                <h1>noel feliciano</h1>
                <h2>software developist</h2>
                <hr />
                <p>
                    I like developing <span class="bold">apps</span> on web and mobile. I love working with and talking <span class="bold">tech</span> and <span class="bold">games</span> and how they can be leveraged to improve personal lives, collaboration, and <span class="bold">education</span>. I'm currently a student, and forever a <span class="bold">learner</span>. I'm from Manila, The Philippines but based in BC, <span class="bold">Canada</span>.
                </p>
            </div>
        </div>
    </div>
</div>
