<div class="content">
    <div id="opening">
        <div id="profile">
            <img src="/img/profile.jpg" alt="Profile Picture" />
            <div id="profileIntro">
                <h1>noel feliciano</h1>
                <h2>software developist</h2>
                <hr />
                I like developing -apps- and webapps. I love working with and talking -tech- and -games- and how they can be leveraged to improve personal lives, collaboration, and -education-. I'm currently a student, and forever a -learner-. I'm based in BC, -Canada-.
                
            </div>
        </div>
    </div>
</div>
