<div class="content">
    <div id="opening">
        <div id="profile">
            <!-- <img src="/img/profile.jpg" alt="Profile Picture" /> -->
            <div id="profileIntro">
                <h1>noel feliciano</h1>
                <h2>software developist</h2>
                <hr />
                <p>
                    {{ intro }}
                </p>
            </div>
            <div id="profilePic"></div>
            <hr />
            <div id="profileSkills">
              <p>
                {{ skillsIntro }}
              </p>
              <ul id="majorSkills">
                <li ng-repeat="skill in majorSkills">
                  <span class="bold">{{ skill.name }}</span>: <span>{{ skill.description }}</span>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>
