<div id="projects-page">
    <div class="row" id="project-details">
        <div class="columns large-12 small-12">&nbsp;</div>
    </div>
    <div class="row" id="projects-list">
        <div class="columns large-12 small-12">
            <ul>
                <li><img src="/img/screenshots/lfi/1.jpg" /></li>
                <li><img src="/img/screenshots/linksupp/1.png" /></li>
                <li><img src="/img/screenshots/jplc/cover.png" /></li>
            </ul>
        </div>
    </div>
</div>
